body{
    background-color: rgba(222, 178, 206, 0.936);
}
.wallpaper{
    width: 80%;
}

p{
    font-size:medium;
}

.about{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:brown;
}
.professionalTag{
    text-align: center;
}